<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/mvc
                           http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!-- 自动扫描且只扫描@Controller -->
    <context:component-scan base-package="com.clj.panda.controller" />

    <!--<context:annotation-config />--><!-- 使用component-scan后可省略-->

    <!--处理json数据转换-->
    <mvc:annotation-driven content-negotiation-manager="contentNegotiationManager">
        <mvc:message-converters>
            <!--spring自带的jackjson-->
            <!--<bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter" />-->

            <!--使用fastjson-->
            <bean class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
                <property name="supportedMediaTypes" value="text/html;charset=UTF-8"/>
                <property name="features">
                    <array>
                        <value>WriteMapNullValue</value>
                        <value>WriteNullStringAsEmpty</value>
                    </array>
                </property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>

    <bean id="contentNegotiationManager" class="org.springframework.web.accept.ContentNegotiationManagerFactoryBean">
        <property name="favorPathExtension" value="false" />
        <property name="favorParameter" value="false" />
        <property name="ignoreAcceptHeader" value="false" />
        <property name="mediaTypes">
            <value>
                html=text/html
                json=application/json
                jsonp=application/javascript
                *=*/*
            </value>
        </property>
    </bean>

    <bean class="org.springframework.web.servlet.view.json.MappingJackson2JsonView">
        <property name="jsonpParameterNames">
            <set>
                <value>jsonp</value>
                <value>callback</value>
            </set>
        </property>
    </bean>
    
    <!--<mvc:interceptors>-->
        <!--<mvc:interceptor>-->
            <!--&lt;!&ndash; 默认所有的请求都进行拦截 &ndash;&gt;-->
            <!--<mvc:mapping path="/**" />-->
            <!--<mvc:exclude-mapping path="/return404.htm" />-->
            <!--<mvc:exclude-mapping path="/login.htm" />-->
            <!--<mvc:exclude-mapping path="/loginByPwd.htm" />-->
            <!--<mvc:exclude-mapping path="/getFinalAddr.htm" />-->
            <!--<mvc:exclude-mapping path="/sms/sendVerifyCodeSms.htm" />-->
            <!--<mvc:exclude-mapping path="/sms/checkSmsVerifyCode.htm" />-->
            <!--<mvc:exclude-mapping path="/addPwd.htm" />-->
            <!--<mvc:exclude-mapping path="/em/modifyPwd.htm" />-->
            <!--<mvc:exclude-mapping path="/getSysTime.htm" />-->
            <!--<mvc:exclude-mapping path="/qz/removeExpireFile.htm" />-->
            <!--<mvc:exclude-mapping path="/qz/updateCompanyOptions.htm" />-->
            <!--<mvc:exclude-mapping path="/qz/btsInit.htm" />-->
            <!--<mvc:exclude-mapping path="/qz/topicInit.htm" />-->
            <!--<mvc:exclude-mapping path="/qz/formTemplateItemInit.htm" />-->
            <!--<mvc:exclude-mapping path="/data/**" />-->
             <!--<bean class="com.benhe.todo.ws.client.SpringInterceptor"></bean>-->
        <!--</mvc:interceptor>-->
        <!--<mvc:interceptor>-->
            <!--&lt;!&ndash; 默认所有的请求都进行拦截 &ndash;&gt;-->
            <!--<mvc:mapping path="/data/**" />-->
            <!--<bean class="com.benhe.todo.ws.client.SpringOutInterceptor"></bean>-->
        <!--</mvc:interceptor>-->
    <!--</mvc:interceptors>-->

    <!-- 定义首页 -->
    <!--<mvc:view-controller path="/" view-name="redirect:/return404.htm" />-->

    <!-- 定义JSP -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/" />
        <property name="suffix" value=".jsp" />
    </bean>

    <!-- 支持上传文件 -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver" >
        <property name="defaultEncoding" value="utf-8"></property>
        <property name="maxUploadSize" value="51485760"></property>
        <property name="maxInMemorySize" value="102400"></property>
    </bean>
</beans>